# Terraform state files
*.tfstate
*.tfstate.*
.terraform/

# Terraform crash logs
crash.log

# Local override files (usually for CLI configs)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files
terraform.tfvars
*.auto.tfvars

# CLI configuration files
.terraformrc
terraform.rc

# Kubernetes local configs
.kube/

# IDE/editor config files
.vscode/
.idea/
*.swp
*.swo
*.bak
*.backup

# MacOS files
.DS_Store

# Logs
*.log
